<?xml version="1.0" ?>

<robot name="3_dof_robot">
    <group name="arm">
        <chain base_link="base_link" tip_link="link_3"/>
    </group>

    <group name="gripper">
        <link name="end_effector" />
    </group>

    <group name="3_dof_manipulator">
        <group name="arm" />
        <group name="gripper" />
    </group>

    <group_state name="default" group="arm">
        <joint name="joint_1" value="0" />
        <joint name="joint_2" value="0" />
        <joint name="joint_3" value="0" />
    </group_state>

    <virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="base_link" />

    <end_effector name="gripper" parent_link="link_2" group="gripper" parent_group="arm" />

    <disable_collisions link1="base_link" link2="link_1" reason="Never" />
    <disable_collisions link1="base_link" link2="link_2" reason="Never" />
    <disable_collisions link1="link_1" link2="link_2" reason="Never" />
</robot>