<launch>
  <include file="$(find robots)/primitive_manipulator/visualization.launch"/>

  <node name="planner_node" 
        pkg="planner" 
        type="planner_node"
        respawn="false" output="screen">
    <rosparam command="load"
          file="$(find robots)/primitive_manipulator/kinematics.yaml"/>
  </node>

</launch>
